body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background:url('image/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.game-container {
    text-align: center;
    color: white;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    gap: 10px;
    margin: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.cell:hover {
    background-color: #ccc;
    color: black;
}

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
}
button {
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
}
#board {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
